<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>27</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位、十位、个位中选择一个5位数号码组成一注，所选号码与开奖号码全部相同，且顺序一致，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：23456；开奖23456，即中五星直选。</string>
	</dict>
	<key>28</key>
	<dict>
		<key>str1</key>
		<string>从个位、十位、百位、千位、万位中选择一个号码组成一注。</string>
		<key>str2</key>
		<string>手动输入一个5位数号码组成一注，所选号码与开奖号码全部相同，且顺序一致，即为中奖。</string>
	</dict>
	<key>30</key>
	<dict>
		<key>str1</key>
		<string>从0-9中任意选择5个号码组成一注，所选号码与开奖号码的万位、千位、百位、十位、个位相同，顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：02568，开奖号码的5个数字必须包含02568（例如：08526），顺序不限，即可中五星组选120。</string>
	</dict>
	<key>31</key>
	<dict>
		<key>str1</key>
		<string>选择1个二重号码和3个单号号码组成一注，所选的单号号码与开奖号码相同，且所选二重号码在开奖号码中出现了2次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：二重号：8；单号025，开奖号码的5个数字必须包含单号025，以及对子号8（例如02858），顺序不限，即可中五星组选60。</string>
	</dict>
	<key>32</key>
	<dict>
		<key>str1</key>
		<string>选择2个二重号码和1个单号号码组成一注，所选的单号号码与开奖号码相同，且所选2个二重号码分别在开奖号码中出现了2次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：二重号：2、8；单号：0，开奖号码的5个数字必须包含单号0，以及对子号2和8（例如28082），顺序不限，即可中五星组选30。</string>
	</dict>
	<key>33</key>
	<dict>
		<key>str1</key>
		<string>选择1个三重号码和2个单号号码组成一注，所选的单号号码与开奖号码相同，且所选三重号码在开奖号码中出现了3次，即为中奖。</string>
		<key>str2</key>
		<string>投注方案：三重号：8；单号：0、2，开奖号码的5个数字必须包含单号0和2，以及三重号8（例如80828），顺序不限，即可中五星组选20。</string>
	</dict>
	<key>34</key>
	<dict>
		<key>str1</key>
		<string>选择1个三重号码和1个二重号码，所选三重号码在开奖号码中出现了3次，并且所选二重号码在开奖号码中出现2次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：三重号：8；二重号：2，开奖号码的5个数字必须包含三重号8，以及对子号2（例如28828），顺序不限，即可中五星组选10。</string>
	</dict>
	<key>35</key>
	<dict>
		<key>str1</key>
		<string>选择1个四重号码和1个单号号码组成一注，所选的单号号码与开奖号码相同，且所选四重号码在开奖号码中出现了4次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：四重号：8；单号：2，开奖号码的5个数字必须包含四重号8，以及单号2（例如88828），顺序不限，即可中五星组选5。</string>
	</dict>
	<key>41</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位、十位中选择一个4位数号码组成一注，所选号码与开奖号码全部相同，且顺序一致，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：3456；开奖3456*，即中前四星直选。</string>
	</dict>
	<key>42</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入1个四位数号码组成一注。</string>
		<key>str2</key>
		<string>手动输入一个4位数号码组成一注，所选号码万位、千位、百位、十位与开奖号码相同，且顺序一致，即为中奖。</string>
	</dict>
	<key>43</key>
	<dict>
		<key>str1</key>
		<string>从0-9中任意选择4个号码组成一注，所选号码与开奖号码的万位、千位、百位、十位相同，顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：0568，开奖号码的前4个数字必须包含0568（例如：0856），顺序不限，即可中前四星组选24。</string>
	</dict>
	<key>44</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位、十位中，选择1个二重号码和2个单号号码组成一注，所选单号号码与开奖号码相同，且所选二重号码在开奖号码中出现2次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：二重号：8；单号0、6，开奖号码的前4个数字必须包含单号0、6和对子号8（例如0868），顺序不限，即可中前四星组选12。</string>
	</dict>
	<key>45</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位、十位中，选择2个二重号码组成一注，所选2个二重号码在开奖号码中分别出现了2次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：二重号：2、8，开奖号码的前4个数字必须包含两个对子号2和8（例如2882），顺序不限，即可中前四星组选6。</string>
	</dict>
	<key>46</key>
	<dict>
		<key>str1</key>
		<string>选择1个三重号码和1个单号号码组成一注，所选的单号号码与开奖号码相同，并且所选三重号码在开奖号码中出现3次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：三重号：8；单重号：2，开奖号码的前四个数字必须包含三重号8，以及单号2（例如8828），顺序不限，即可中前四星组选4。</string>
	</dict>
	<key>50</key>
	<dict>
		<key>str1</key>
		<string>从千位、百位、十位、个位中选择一个4位数号码组成一注，所选号码与开奖号码全部相同，且顺序一致，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：3456；开奖3456，即中四星直选。</string>
	</dict>
	<key>51</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入1个四位数号码组成一注。</string>
		<key>str2</key>
		<string>手动输入一个4位数号码组成一注，所选号码千位、百位、十位、个位与开奖号码相同，且顺序一致，即为中奖。</string>
	</dict>
	<key>52</key>
	<dict>
		<key>str1</key>
		<string>从0-9中任意选择4个号码组成一注，所选号码与开奖号码的千位、百位、十位、个位相同，顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：0568，开奖号码的后4个数字必须包含0568（例如：0856），顺序不限，即可中四星组选24。</string>
	</dict>
	<key>53</key>
	<dict>
		<key>str1</key>
		<string>从千位、百位、十位、个位中，选择1个二重号码和2个单号号码组成一注，所选单号号码与开奖号码相同，且所选二重号码在开奖号码中出现2次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：二重号：8；单号0、6，开奖号码的后4个数字必须包含单号0、6和对子号8（例如0868），顺序不限，即可中四星组选12。</string>
	</dict>
	<key>54</key>
	<dict>
		<key>str1</key>
		<string>从千位、百位、十位、个位中，选择2个二重号码组成一注，所选2个二重号码在开奖号码中分别出现了2次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：二重号：2、8，开奖号码的后4个数字必须包含两个对子号2和8（例如2882），顺序不限，即可中前四星组选6。</string>
	</dict>
	<key>55</key>
	<dict>
		<key>str1</key>
		<string>选择1个三重号码和1个单号号码组成一注，所选的单号号码与开奖号码相同，并且所选三重号码在开奖号码中出现3次，即为中奖。</string>
		<key>str2</key>
		<string>如：投注方案：三重号：8；单重号：2，开奖号码的后四个数字必须包含三重号8，以及单号2（例如8828），顺序不限，即可中四星组选4。</string>
	</dict>
	<key>59</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位中选择一个3位数号码组成一注，所选号码与开奖号码之后3位相同，且顺序一致，即为中奖。</string>
		<key>str2</key>
		<string>如：万位选择1、千位选择2，百位选择3，开奖号码为123**，即为中奖。</string>
	</dict>
	<key>60</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入 1 个三位数号码组成一注</string>
		<key>str2</key>
		<string>手动输入一个 3 位数号码组成一注，所选号码的万位、千位、百位与开奖号码相同且顺序一致，即为中奖。</string>
	</dict>
	<key>62</key>
	<dict>
		<key>str1</key>
		<string>从 0-9 中任意选择 2 个号码组成两注，所选号码与开奖号码的万位、千位、百位相同，且顺序不限即为中奖。</string>
		<key>str2</key>
		<string>如：选择 12（展开为 122 **, 212**, 221** 和 112**. 121 大大 211 大大），开奖号码为 212**或 121**，即为中奖。</string>
	</dict>
	<key>61</key>
	<dict>
		<key>str1</key>
		<string>从 0-9 中任意选择 3 个号码组成一注，所选号码与开奖号码的万位、千位、百位相同，顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：选择 123（展开为 123**, 132** 231** 213★* 312** 321**）开奖号码为 321**，即为中奖。</string>
	</dict>
	<key>66</key>
	<dict>
		<key>str1</key>
		<string>从千位、百位、十位中选择一个 3 位数号码组成一注，所选号码与开奖号码之后 3 位相同，且顺序一致，即为中奖。</string>
		<key>str2</key>
		<string>如：千位选择 1, 百位选择 2, 十位选择 3, 开奖号码为是 *123*，即为中奖。</string>
	</dict>
	<key>67</key>
	<dict>
		<key>str1</key>
		<string>从千、百、十位分别从 0~9 选择 1 个号码、2 个号码或多个号码，只要当期开奖结果与所选的号码相同且顺序一致时，即为中奖。</string>
		<key>str2</key>
		<string>如选择号码千位为 4、百位为 3, 十位为 2, 若当期开奖结果为 x432 x 即中奖（x=0~9 任一数）</string>
	</dict>
	<key>69</key>
	<dict>
		<key>str1</key>
		<string>从 0-9 中任意选择 2 个号码组成两注，所选号码与开奖号码的千位、百位、十位相同，且顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：选择 12（展开为*122*, *212*, *221*和*112*、*121*、*211*），开奖号码为*212*或*121*，即为中奖。</string>
	</dict>
	<key>68</key>
	<dict>
		<key>str1</key>
		<string>从 0-9 中任意选择 3 个号码组成一注，所选号码与开奖号码的千位、百位、十位相同，顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：选择 123（展开为*123*, *132* *231* *213* *312* *321*）开奖号码为**321 即为中奖。</string>
	</dict>
	<key>73</key>
	<dict>
		<key>str1</key>
		<string>从百位、十位、个位中选择一个 3 位数号码组成一注，所选号码与开奖号码后 3 位相同，且顺序-致，即为中奖。</string>
		<key>str2</key>
		<string>如：百位选择 1, 十位选择 2, 个位选择 3, 开奖号码为是 **123, 即为中奖。</string>
	</dict>
	<key>74</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入 1 个三位数号码组成一注</string>
		<key>str2</key>
		<string>手动输入一个 3 位数号码组成一注，所选号码的百位、十位、个位与开奖号码相同，且顺序- -致，即为中奖。</string>
	</dict>
	<key>76</key>
	<dict>
		<key>str1</key>
		<string>从 0-9 中任意选择 2 个号码组成两注，所选号码与开奖号码的百位、十位、个位相同，且顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：选择 12（展开为**122, **212 大大 221 和 *大 1 112. **121、**211），开奖号码为**212 或**121，即为中奖。</string>
	</dict>
	<key>75</key>
	<dict>
		<key>str1</key>
		<string>从 0-9 中任意选择 3 个号码组成一注，所选号码与开奖号码的百位、十位、个位相同，顺序不限，即为中奖。</string>
		<key>str2</key>
		<string>如：选择 123（展开为**123, **132. **231 ★*213 **312, **321），开奖号码为**321, 即为中奖。</string>
	</dict>
	<key>90</key>
	<dict>
		<key>str1</key>
		<string>从十位和个位，上至少各选 1 个号码，所选号码与开奖号码的十位、个位相同，且顺序一致，即为中奖。</string>
		<key>str2</key>
		<string>如：十位选择 3, 个位选择 4, 开出***34 即为中奖。</string>
	</dict>
	<key>92</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入 1 个两位数号码</string>
		<key>str2</key>
		<string>手动输入一个 2 位数号码组成一注，所选号码的十位、个位与开奖号码相同，且顺序一致，即为中奖。</string>
	</dict>
	<key>83</key>
	<dict>
		<key>str1</key>
		<string>从万位和千位上至少各选 1 个号码，所选号码与开奖号码的万位、千位相同，且顺序一致，即为中奖。</string>
		<key>str2</key>
		<string>如：万位选择 3, 千位选择 4, 开出 34***即为中奖。</string>
	</dict>
	<key>84</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入 1 个两位数号码</string>
		<key>str2</key>
		<string>手动输入一个 2 位数号码组成一注，所选号码的万位、千位与开奖号码相同，且顺序-致，即为中奖。</string>
	</dict>
	<key>87</key>
	<dict>
		<key>str1</key>
		<string>从 0-9 中任意选择 2 个或 2 个以上号码。</string>
		<key>str2</key>
		<string>从 0-9 中选 2 个号码组成一注，所选号码与开奖号码的十位、个位相同，顺序不限（此选择方案已排除对子情况，即投注时没有投注包含对子的情况，故出对子时不中奖），即为中奖（根据中奖组别不同，奖金不同）。</string>
	</dict>
	<key>89</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入 1 个两位数号码</string>
		<key>str2</key>
		<string>手动输入一个 2 位数号码组成一注，所选号码的十位、个位与开奖号码相同，顺序不限（此选择方案已排除对子情况，即投注时没有投注包含对子的情况，故出对子时不中奖），即为中奖（根据中奖组别不同，奖金不同）。</string>
	</dict>
	<key>85</key>
	<dict>
		<key>str1</key>
		<string>从0-9中任意选择2个或2个以上号码。</string>
		<key>str2</key>
		<string>从0-9中选择2个号码，所选号码与当期顺序揺出的5个号码中的 前2个号码相同，顺序不限，即为中奖。</string>
	</dict>
	<key>86</key>
	<dict>
		<key>str1</key>
		<string>手动输入号码，至少输入1个两位数号码组成一注。</string>
		<key>str2</key>
		<string>手动输入2个号码组成一注，所输入的号码与当期顺序摇出的5 个号码中的前2个号码相同，顺序不限，即为中奖。</string>
	</dict>
	<key>97</key>
	<dict>
		<key>str1</key>
		<string>在万位、千位、百位、十位、个位任意位置上任意选择1个或1 个以上号码。</string>
		<key>str2</key>
		<string>玩家在定位胆玩法中，同时指定万位的2,3 ,十位的2,8 ,其结果 等价于玩家先投注了猜万位的2,3 ,又投注了猜十位的2,8。</string>
	</dict>
	<key>101</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位、十位、个位中的“大、小、单、双”中至 少选一个组成一注。</string>
		<key>str2</key>
		<string>对万位到个位的“大(56789)小(01234)、单(13579) 双(02468) ”形态进行购买、所选号码的位置、形态与开奖号 码的位置、形态相同，即为中奖。</string>
	</dict>
	<key>102</key>
	<dict>
		<key>str1</key>
		<string>从大、小、单、双中选一个或多个进行投注</string>
		<key>str2</key>
		<string>开奖结果五位相加，结果0-22位小，23-45为大，结果为偶数称为双（包括0），结果为奇数称为单。</string>
	</dict>
	<key>103</key>
	<dict>
		<key>str1</key>
		<string>从大单，大双，小单，小双中选一个或者多个进行投注，如投 注大单，结果为单数且和值大于等于23,则中奖。</string>
		<key>str2</key>
		<string>和值0-22:且和值为单数即为小单，为双数则为小双， 和值23-45:且和值为单数即为大单，为双数即为大双。</string>
	</dict>
	<key>104</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位、十位中的“大、小、单、双”中至少各选 一个组成一注。</string>
		<key>str2</key>
		<string>对万位到十位的“大(56789)小(01234)、单(13579) 双(02468) ”形态进行购买、所选号码的位置、形态与开奖号码的位置、形态相同，即为中奖。</string>
	</dict>
	<key>105</key>
	<dict>
		<key>str1</key>
		<string>从千位、百位、十位、个位中的“大、小、单、双”中至少各选 一个组成一注。</string>
		<key>str2</key>
		<string>对千位到个位的“大(56789)小(01234)、单(13579) 双(02468) ”形态进行购买、所选号码的位置、形态与开奖号码的位置、形态相同，即为中奖。</string>
	</dict>
	<key>106</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位、百位中的“大、小、单、双”中至少各选一个组 成一注。</string>
		<key>str2</key>
		<string>对万位、千位和百位的“大(56789)小(01234)、单(135 79)双(02468) ”形态进行购买、所选号码的位置、形态与开 奖号码的位置、形态相同，即为中奖。</string>
	</dict>
	<key>107</key>
	<dict>
		<key>str1</key>
		<string>从百位、十位、个位中的“大、小、单、双”中至少各选一个组 成一注。</string>
		<key>str2</key>
		<string>对百位、十位和个位的“大(56789)小(01234)、单(1 3579)双(02468) ”形态进行购买、所选号码的位置、形态 与开奖号码的位置、形态相同，即为中奖。</string>
	</dict>
	<key>108</key>
	<dict>
		<key>str1</key>
		<string>从万位、千位中的“大、小、单、双”中至少各选一个组成一注。</string>
		<key>str2</key>
		<string>对万位、千位的“大(56789)小(01234)、单(13579) 双(02468) ”形态进行购买、所选号码的位置、形态与开奖号 码的位置、形态相同，即为中奖。</string>
	</dict>
	<key>109</key>
	<dict>
		<key>str1</key>
		<string>从十位、个位中的“大、小、单、双”中至少各选一个组成一注。</string>
		<key>str2</key>
		<string>对十位、个位的“大(56789)小(01234)、单(13579) 双(02468) ”形态进行购买、所选号码的位置、形态与开奖号 码的位置、形态相同，即为中奖。</string>
	</dict>
</dict>
</plist>
