<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>135</key>
	<dict>
		<key>str1</key>
		<string>冠亚和：选择“大（冠亚和值大于11时）、小（冠亚和值小于或等于11）、单（冠亚和值3 5 7 9 11 13 15 17 19）、双（冠亚和值4 6 8 10 12 14 16 18）”选择一个，所选号码的位置、形态与开奖号码的位置、形态相同，即为中奖。第一到十名：选择“大（678910）、小（12345）、单（13579）、双（246810）、冠军龙虎：第一名的球大于第十名球号，则下注龙中奖，第一名球号小于第十名球号，则下注虎中奖。第二名龙虎：第二名的球号大于第九球号，则下注龙中奖，第二名球号小于第九名球号，则下注虎中奖”选择一个，所选号码的位置、形态与开奖号码的位置、形态相同，即为中奖。</string>
		<key>str2</key>
		<string>例如开奖号码：第三名9，即中北京PK10两面。</string>
	</dict>
	<key>136</key>
	<dict>
		<key>str1</key>
		<string>从01-10 共10个号码中选择号码进行投注</string>
		<key>str2</key>
		<string>若冠军号码与所投注的号码一致即为中奖</string>
	</dict>
	<key>137</key>
	<dict>
		<key>str1</key>
		<string>从01-10共10个号码选择2个不重复的号码组成一注，所选号码与当期顺序摇出的5个号码的前两个号码相同，且顺序一致，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，即为中奖。</string>
	</dict>
	<key>138</key>
	<dict>
		<key>str1</key>
		<string>手动输入01-10共10中的2个不重复的号码组成一注，所填号码与当期顺序摇出的10个号码的前两个号码相同，且顺序一致，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，即为中奖。</string>
	</dict>
	<key>139</key>
	<dict>
		<key>str1</key>
		<string>从01-10共10个号码选择3个号码，每注号码由3个号码组成，只要当前顺利摇出的第一位、第二位、第三位开奖号码中包含所选号码，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，第三位是3时，即为中奖。</string>
	</dict>
	<key>141</key>
	<dict>
		<key>str1</key>
		<string>手动输入01-10共10个号码选择3个号码，每注号码由3个号码组成，只要当前顺利摇出的第一位、第二位、第三位开奖号码中包含所选号码，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，第三位是3时，即为中奖。</string>
	</dict>
	<key>142</key>
	<dict>
		<key>str1</key>
		<string>从01-10共10个号码选择4个号码，每注号码由4个号码组成，只要当前顺利摇出的第一位、第二位、第三位、第四位开奖号码中包含所选号码，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，第三位是3时，第四位是4时，即为中奖。</string>
	</dict>
	<key>143</key>
	<dict>
		<key>str1</key>
		<string>手动输入01-10共10个号码选择4个号码，每注号码由4个号码组成，只要当前顺利摇出的第一位、第二位、第三位、第四位开奖号码中包含所选号码，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，第三位是3时，第四位是4时，即为中奖。</string>
	</dict>
	<key>144</key>
	<dict>
		<key>str1</key>
		<string>从01-10共10个号码选择5个号码，每注号码由5个号码组成，只要当前顺利摇出的第一位、第二位、第三位、第四位、第五位开奖号码中包含所选号码，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，第三位是3时，第四位是4时，第五位是5时，即为中奖。</string>
	</dict>
	<key>145</key>
	<dict>
		<key>str1</key>
		<string>手动输入01-10共10个号码选择5个号码，每注号码由5个号码组成，只要当前顺利摇出的第一位、第二位、第三位、第四位、第五位开奖号码中包含所选号码，即中奖。</string>
		<key>str2</key>
		<string>例如开奖号码为1，2，3，4，5，6，7，8，9，10.那么投注第一位是1，第二位是2时，第三位是3时，第四位是4时，第五位是5时，即为中奖。</string>
	</dict>
	<key>146</key>
	<dict>
		<key>str1</key>
		<string>从冠军、亚军、季军、第四名、第五名中任意位置选择1个号码或1个以上号码</string>
		<key>str2</key>
		<string>玩家在定位胆玩法中，同时指定冠军的2，3，季军的3，9，其结果等价于玩家先投注了猜冠军的2，3，又投注的猜季军的3，9。</string>
	</dict>
	<key>147</key>
	<dict>
		<key>str1</key>
		<string>从第六名、第七名、第八名、第九名、第十名中任意位置选择1个号码或1个以上号码</string>
		<key>str2</key>
		<string>玩法在定位胆玩法中，同时指定第六名的2，3，第八名的3，9，其结果等价于玩家投注了猜第六名的2，3，又投注的猜第八名的3，9。</string>
	</dict>
	<key>148</key>
	<dict>
		<key>str1</key>
		<string>和值：若开奖号码的前两位总和与投注数字相同，即为中奖。大小：开奖号码第一位第二位总和在3〜11时为小，12〜19时为大。单双：开奖号码第一位第二位总和为单号时为单，为双号时为双。</string>
		<key>str2</key>
		<string>投注方案：和值5：开奖号码：开奖冠军车号02，亚军车号03，冠军和亚军之和为5，即为中奖</string>
	</dict>
</dict>
</plist>
